/* index.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #282c34;
  color: white;
  font-size: 24px;
}

input {
  padding: 5px;
  font-size: 18px;
}

.title {
  text-align: center;
}
